BudgetingAPI/obj/BudgetingAPI.csproj.EntityFrameworkCore.targets
BudgetingAPI/obj/BudgetingAPI.csproj.nuget.dgspec.json
BudgetingAPI/obj/BudgetingAPI.csproj.nuget.g.props
BudgetingAPI/obj/BudgetingAPI.csproj.nuget.g.targets
BudgetingAPI/obj/project.assets.json
BudgetingAPI/obj/project.nuget.cache
BudgetingAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BudgetingAPI/obj/Debug/net8.0/apphost.exe
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.AssemblyInfo.cs
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.AssemblyInfoInputs.cache
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.assets.cache
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.csproj.AssemblyReference.cache
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.csproj.BuildWithSkipAnalyzers
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.csproj.CopyComplete
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.csproj.CoreCompileInputs.cache
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.csproj.FileListAbsolute.txt
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.dll
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.GeneratedMSBuildEditorConfig.editorconfig
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.genruntimeconfig.cache
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.GlobalUsings.g.cs
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.MvcApplicationPartsAssemblyInfo.cache
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.MvcApplicationPartsAssemblyInfo.cs
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.pdb
BudgetingAPI/obj/Debug/net8.0/BudgetingAPI.sourcelink.json
BudgetingAPI/obj/Debug/net8.0/staticwebassets.build.json
BudgetingAPI/obj/Debug/net8.0/ref/BudgetingAPI.dll
BudgetingAPI/obj/Debug/net8.0/refint/BudgetingAPI.dll
BudgetingAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.BudgetingAPI.props
BudgetingAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.BudgetingAPI.props
BudgetingAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.BudgetingAPI.props
BudgetingAPI/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BudgetingAPI/obj/Release/net8.0/BudgetingAPI.AssemblyInfo.cs
BudgetingAPI/obj/Release/net8.0/BudgetingAPI.AssemblyInfoInputs.cache
BudgetingAPI/obj/Release/net8.0/BudgetingAPI.assets.cache
BudgetingAPI/obj/Release/net8.0/BudgetingAPI.csproj.AssemblyReference.cache
BudgetingAPI/obj/Release/net8.0/BudgetingAPI.GeneratedMSBuildEditorConfig.editorconfig
BudgetingAPI/obj/Release/net8.0/BudgetingAPI.GlobalUsings.g.cs
.vs/BudgetingApp/FileContentIndex/231a2f4e-d69d-4aa1-b618-3554c5d9c570.vsidx
.vs/BudgetingApp/FileContentIndex/b7769c6b-50fe-4313-8ba9-56e6b866bb55.vsidx
.vs/BudgetingApp/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
BudgetingAPI/.vs/BudgetingAPI/DesignTimeBuild/.dtbcache.v2
BudgetingAPI/.vs/BudgetingAPI/FileContentIndex/5fe4e5dc-4584-4157-9076-f6bdbef279c7.vsidx
BudgetingAPI/.vs/BudgetingAPI/v17/.futdcache.v2
BudgetingAPI/.vs/BudgetingAPI/v17/.suo
BudgetingAPI/bin/Debug/net8.0/appsettings.Development.json
BudgetingAPI/bin/Debug/net8.0/appsettings.json
BudgetingAPI/bin/Debug/net8.0/Azure.Core.dll
BudgetingAPI/bin/Debug/net8.0/Azure.Identity.dll
BudgetingAPI/bin/Debug/net8.0/BudgetingAPI.deps.json
BudgetingAPI/bin/Debug/net8.0/BudgetingAPI.dll
BudgetingAPI/bin/Debug/net8.0/BudgetingAPI.exe
BudgetingAPI/bin/Debug/net8.0/BudgetingAPI.pdb
BudgetingAPI/bin/Debug/net8.0/BudgetingAPI.runtimeconfig.json
BudgetingAPI/bin/Debug/net8.0/Humanizer.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.Identity.Client.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
BudgetingAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
BudgetingAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
BudgetingAPI/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
BudgetingAPI/bin/Debug/net8.0/Newtonsoft.Json.dll
BudgetingAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
BudgetingAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
BudgetingAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
BudgetingAPI/bin/Debug/net8.0/System.CodeDom.dll
BudgetingAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
BudgetingAPI/bin/Debug/net8.0/System.Composition.Convention.dll
BudgetingAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
BudgetingAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
BudgetingAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
BudgetingAPI/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
BudgetingAPI/bin/Debug/net8.0/System.Drawing.Common.dll
BudgetingAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
BudgetingAPI/bin/Debug/net8.0/System.Memory.Data.dll
BudgetingAPI/bin/Debug/net8.0/System.Net.Http.Formatting.dll
BudgetingAPI/bin/Debug/net8.0/System.Runtime.Caching.dll
BudgetingAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
BudgetingAPI/bin/Debug/net8.0/System.Security.Permissions.dll
BudgetingAPI/bin/Debug/net8.0/System.Web.Cors.dll
BudgetingAPI/bin/Debug/net8.0/System.Web.Http.Cors.dll
BudgetingAPI/bin/Debug/net8.0/System.Web.Http.dll
BudgetingAPI/bin/Debug/net8.0/System.Windows.Extensions.dll
BudgetingAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
BudgetingAPI/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
BudgetingAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
BudgetingAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
